li {
	list-style-type: none;
}

a {
	color: #4c4c4c;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	font-size: 105%;
}

body {
	background-image: linear-gradient(#d9fafd, white);
	font-family: Open Sans, Tahoma, sans-serif;
}

h1 {
	font-size: 50px;
	margin: 0px;
}

h2 {
	margin: 0px;
}

h3 {
	margin: 0px;
}

#main {
	width: 1000px;
	margin: auto;
	background: #a20000;
	border: solid 2px;
}

#header {
	height: 60px;
	background: black;
	padding: 10px;
}

a.link-text {
	text-decoration: none;
}

.logo {
	color: white;
}

a.logo:visited {
	color: white;
}

a.logo:hover {
	font-size: 100%;
}

.heading {
	margin-left: 5px;
}

#navbar {
	height: 40px;
	width: auto;
	background: white;
}

#nav-items {
	height: 40px;
}

#nav-items li {
	padding: 10px;
	float: right;
	list-style-type: none;
}

.nav-item {
	text-align: center;
	width: 50px;
}

.nav-item:hover {
	background: #d7d7d7;
}

.list {
	list-style-type: none;
	text-decoration: none;
}

.index {
	padding-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.article-tree {
	font-size: 20px;
	list-style-type: none;
	padding-left: 20px;
}

#article-tree {
	padding-left: 0px;
}

span.expandable:hover {
	color: #8080c0;
	cursor: pointer;
}

.hidden {
	display: none;
}

.article-date {
	font-size: 20px;
}

#middle {
	min-height: 600px;
	height: 100%;
	background: #e6e6e6;
	padding: 10px;
}

#post-area {
	width: 800px;
}

#other-area {
	width: 160px;
	height: auto;
	margin-top: 40px;
	float: right;
	border-left: solid 2px black;
	background: #d7d7d7;
}

.menu {
	padding: 0px;
	margin: 0px;
}

.resource-item {
	padding: 5px;
	font-size: 15px;
}

.resource-item:hover {
	background: #a7a7a7;
	border-left: solid 3px;
}

.content {
	padding: 30px;
}

.block {
	padding-right: 30px;
}

.overflow {
	overflow: hidden;
}

#post {
	padding: 30px;
}

.credentials {
	font-size: 15px;
}

#about {
	padding: 20px;
}

#footer {
	height: 100px;
	background: black;
	font: white;
	border-top: solid 10px;
	padding: 10px;
}

a.contact {
	color: white;
}

a.contact:hover {
	font-size: 100%;
}

.float-left {
	float: left;
	margin: 10px;
}

.float-right {
	float: right;
	margin: 10px;
}