--- 
layout: default 
permalink: /articles/ 
years: 
- 2017 
- 2016 
- 2015
months: 
- January 
- February 
- March 
- April 
- May 
- June 
- July 
- August 
- September 
- October 
- November 
- December 
---

<section class='page-section'>
	<div class='container-narrow'>
		<ul class="blog-index">
			{% for year in page.years %} <details> <summary><h3>{{ year }}</h3></summary> {% for post in site.posts %}
			{% if post.year == year %}
			<li class="mb-4 mb-md-6 mb-lg-8">
					<a class="blog-index-link mr-2 link-text"
						href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					<div class="who-when mt-1">
						<span class="octicon octicon-calendar pr-2"></span>
						<time class="blog-index-time"> 
							{{ post.date | date: '%B %d, %Y' }}</time>
					</div>
			</li>  {% endif %}  {% endfor %} </details> </br> {% endfor %}
		</ul>
	</div>
</section>