--- 
layout: default 
permalink: /articles/ 
years: 
- 2017 
- 2016 
- 2015
months: 
- January 
- February 
- March 
- April 
- May 
- June 
- July 
- August 
- September 
- October 
- November 
- December 
---

<div class='content overflow'>
<h2>ARTICLES</h2>
	<section class='page-section'>
		<div class='container-narrow'>
			<ul id='article-tree' class='article-tree'>
				{% for year in page.years %}
				<li class='article-tree'><span class='expandable'>{{ year }}</span>
					<ul class='hidden'>
						{% for month in page.months %}
						<li><span class='expandable'>{{ month }}</span>
							<ul class='hidden'>
								{% for post in site.posts %} {% if post.year == year and
								post.month == month %}
								<li class="mb-4 mb-md-6 mb-lg-8 list"><span> <a
										class="list" href="{{ post.url | prepend: site.baseurl }}">{{
											post.title }}</a>
								</span></li> {% endif %} {% endfor %}</li>
					</ul> {% endfor %}</li>
			</ul>
			</br> {% endfor %}
			</ul>
		</div>
	</section>
</div>
