--- 
layout: default 
permalink: /
---
{% include banner.html %}
{% include resources.html %}

<div class='container-narrow overflow' id="post-area">
	<ul class="blog-index list index">
		{% for post in site.featured %}
		<li class="mb-4 mb-md-6 mb-lg-8 list block">
			<h2>
				<a class="blog-index-link mr-2"
					href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
				<div class="who-when mt-1 credentials">
					<span class="octicon octicon-calendar pr-2"></span>
					<time class="blog-index-time">{{ post.date | date: '%B %d,
						%Y' }}</time>
					<br> {{ post.author }}</a>
				</div>
			{{ post.excerpt }}
			<p>
				<a href="{{ post.url | prepend: site.baseurl }}">Read more <span
					class="octicon octicon-arrow-small-right"></span></a>
			</p>
		</li> {% endfor %}
	</ul>
</div>


