<head>
<title>Asian American E-Zine Homepage</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Asian American E-Zine is an online magazine covering Asian American events.">
<link rel="canonical" href="http://localhost:4000/">
<link rel="alternate" type="application/rss+xml"
	title="Asian American E-Zine" href="/feed.xml">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
$(function(){
$('#article-tree').find('span').click(function(e){
    $(this).parent().children('ul').toggle();
});
});
</script>
</head>
