<div id="header">
	<h1>
		<a href="/" class="link-text logo">AA E-Zine</a>
	</h1>
</div>
<div id="navbar">
	<div id="nav-items">
		<ul>
			<a class="page-link link-text" href="/about/"><li class="nav-item">About</li></a>
			<a class="page-link link-text" href="/gallery/"><li class="nav-item">Gallery</li></a>
			<a class="page-link link-text" href="/articles/"><li class="nav-item">Articles</li></a>
			<a class="page-link link-text" href="/"><li class="nav-item">Home</li></a>
		</ul>
	</div>
</div>
