<div id="other-area" class="overflow">
	<h4 class="heading">Other Resources</h4>
	<ul class="menu">
		<!-- TO ADD RESOURCES, JUST COPY THE FORMAT BELOW AND REPLACE LINK WITH WEB ADDRESS TO THE RESOURCE AND TITLE WITH RESOURCE NAME -->
		<!-- THEN PLACE THE RESOURCE ALONG WITH THE EXISTING RESOURCES -->
		<!-- THE FOLLOWING IS THE FORMAT: <a href="LINK"><li class="resource-item">TITLE</li></a> -->		
		
		<!-- RESOURCES -->

		<a href="https://stonybrook.edu"><li class="resource-item">Stony Brook Website</li></a>
		<a href="https://aaezine.org"><li class="resource-item">Old AA E-Zine Website</li></a>
		
		<!-- END RESOURCES -->
		
	</ul>
</div>
